parameters:

application:
	errorPresenter: Error
	mapping:
		Admin: App\AdminModule\Presenters\*Presenter
		Front: App\FrontModule\Presenters\*Presenter
		Api: App\ApiModule\Presenters\*Presenter
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

services:
	router: App\RouterFactory::createRouter
	authenticator: App\Logic\UserLogic

	# logic
	# - App\Logic\UserLogic # len authentifikator

	# facades
	- App\Model\CityFacade
	- App\Model\UniversityFacade
	- App\Model\CategoryFacade
	- App\Model\PointFacade
	- App\Model\ImageFacade
	- App\Model\ContentFacade
	- App\Model\SubcFacade
	- App\Model\UserFacade

	# component factories
	- App\AdminModule\Components\ICityFormFactory
	- App\AdminModule\Components\IUniversityFormFactory
	- App\AdminModule\Components\IDeleteItemControlFactory
	- App\AdminModule\Components\IPointFormFactory

extensions:
	images: WebChemistry\Images\DI\ImagesExtension
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	monolog: Kdyby\Monolog\DI\MonologExtension

monolog:
	name: app-server
	registerFallback: yes

images:
	local:
		enable: yes
		wwwDir: %wwwDir%
		assetsDir: 'data'
		aliases:
			preview: "resize:200,200"
			detail: "resize:800,400"
