{block content}
<!-- content -->
<section class="cities-table">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-header">
						<h3>{$title}</h3>
					</div>
					<div class="card-body">
						{control cityForm $city}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
