<div class="card">
	<div class="card-header">
		<h3 class="float-left">Delete {$presenter->getName()}</h3>
	</div>
	<div class="card-body">
		<p>Are you sure you want to delete <strong>{$item->getName()}</strong>?</p>
		<a n:href="{$presenter->getName()}:default" class="btn btn-secondary">No</a>
		<a n:href="{$presenter->getName()}:delete $item->getId(), $confirmation" class="btn btn-danger">Delete</a>
	</div>
</div>